<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title></title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <link rel="stylesheet" href="/static/css/main.css" />
        <script src="/static/js/google_api.js"></script>
    </head>
<body>
    <div class="navheader">
        <header>
          <!-- navigation bar with our logo, and weather data -->
          <nav>
            <div class="logo">
              <img src="/static/img/Dublin_Bikes1.jpeg" alt="dublin bikes logo" />
            </div>
            <div class="graphWeather">
              <p>{{ weather.feels_like }}c</p>
            </div>
            <div class="image">
              <img
                src="http://openweathermap.org/img/w/{{ weather.icon }}.png"
                alt="Image"
              />
            </div>
          </nav>
        </header>
    </div>
    <!-- https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-directions -->
    <div class="mapDisplay">
        <div style="display: none">
            <input
              id="origin-input"
              class="controls"
              type="text"
              placeholder="Enter an origin location"
            />
      
            <input
              id="destination-input"
              class="controls"
              type="text"
              placeholder="Enter a destination location"
            />
      
            <div id="mode-selector" class="controls">
              <input
                type="radio"
                name="type"
                id="changemode-walking"
                checked="checked"
              />
              
            </div>
          </div>    
        <div id="map">
          <script
            src="https://maps.googleapis.com/maps/api/js?key=!!!!!!!!&callback=initMap&v=weekly&libraries=places&v=weekly"
            
            async
          ></script>
        </div>
    </div>
    
    <footer></footer>
</body>
</html>
